{% extends 'base.html' %} 
{% load crispy_forms_tags %}  {% block content %}

<div class="card mt-3 mb-1">
    <div class="card-header"> Login 
    </div>
    <div class="card-body flex-row">
    <form method="POST">
        {% csrf_token %}{{ form|crispy }} 
        <div class="flex-row justify-content-between">
            <p>
            Don't have an account? Create one 
            <a href="{% url 'members:register' %}">here</a>! 
            </p>
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
    </div>
</div>

{% endblock %}
