

:root {
    --custom-primary-color: #14213D; /* Dark blue */
    --custom-secondary-color: #FCA311; /* Orange */
    --custom-text-color: #000000; /* Black */
    --custom-background-color: #E5E5E5; /* Light gray */
    --custom-link-color: #FFFFFF; /* White */
}
/* Navbar link text color */
.navbar-custom .nav-link {
    color: var(--custom-text-color);
}
/* Custom primary button */
.btn-custom-primary {
    background-color: var(--custom-primary-color);
    border-color: var(--custom-primary-color);
    color: var(--custom-link-color);
}

/* Custom primary button hover effect */
.btn-custom-primary:hover {
    background-color: #0a152b; /* Darken the color on hover */
}
/* Section background color */
.section-custom {
    background-color: var(--custom-background-color);
}

.body {
    background-color: #14213D;
}
