{% extends "base.html" %}

{% load crispy_forms_tags %}{% block content %}
    <div class="card py-2 px-2 mt-3 mb-3">
        <div class="card-body">
            <div class="d-grid gap-2 d-md-flex justify-content-between">
                {% block title %} 
                    <h3 class="card-title mb-2">{{ post.title }}</h3>
                {% endblock %}
                <div class="d-grid gap-2 d-md-flex justify-content-end">
                    {% if post.author == user %}
                    <a class="btn-link-text" href="{% url 'posts:post_edition' post.slug %}"><button type="button" class="btn btn-custom-secondary">Edit</button></a>
                    {% endif %}
                    <a class="btn-link-text" href="{% url 'posts:post_list' %}"><button type="button" class="btn btn-custom-primary">Back</button></a>
                </div>
            </div>
            <div class="card-subtitle mb-4 d-grid gap-2 d-md-flex justify-content-between">
                <div>
                <h5 class="text-muted">Written by @{{ post.author.username }} on {{ post.publication_date }}</h5>
                {% if post.has_been_edited == True %}
                    <h6 class="text-muted"> Last edited on {{ post.updated_on }} </h6>
                {% endif %}
                </div>
            </div>
            <p class="card-text lh-base">{{ post.content|linebreaks }}</p>
        </div>
    </div>
    {% if post.status == 1 %}
   <div class="card mt-4 mb-4">
        <div class="card-header">
            <h4>Comments</h4>
        </div>
        <div class="card-body">
            {% for comment in post.comments.all %}
                <div class="card mb-3">
                    <div class="card-body">
                        <small class="card-title fw-bold">@{{ comment.author.username }} commented:</small>
                        <p class="card-text">{{ comment.content }}</p>
                        <small class="mb-2 text-muted">{{ comment.publication_date }}</small>
                    </div>
                </div>
            {% empty %}
                {% if user.is_authenticated %}
                    <p>No comments yet :(</p>
                {% else %}
                    <p>No comments yet, <a href={% url 'members:login' %}>login</a>/<a href={% url 'members:register' %}>register</a> to be able to comment!</p>
                {% endif %}
            {% endfor %}
        </div>
    </div> 
    {% if user.is_authenticated %}
        <div class="card mt-4 mb-4">
            <div class="card-header">
                <h4>Add a Comment</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}{{ comment_form|crispy }} 
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    {% elif post.comments.all|length > 0 %}
        <div class="card mt-4 mb-4">
            <div class="card-header">
                <h4>Add a Comment</h4>
            </div>
            <div class="card-body">
                <p>Want to share your impressions? <a href={% url 'members:login' %}>Login</a>/<a href={% url 'members:register' %}>register</a> to be able to comment!</p>
            </div>
        </div>
    {% endif %}
{% endif %}
{% endblock content %}
