{% extends "base.html" %}

{% load crispy_forms_tags %}{% block content %}
    <div class="card py-2 px-2 mt-2 mb-3">
        <div class="card-body">
            {% block title %} 
                <h3 class="card-title mb-2">{{ post.title }}</h3>
            {% endblock %}
            <div class="card-subtitle mb-4">
                <h5 class="text-muted">Written by @{{ post.author.username }} on {{ post.publication_date }}</h5>
                {% if post.has_been_edited == True %}
                    <h6 class="text-muted"> Last edited on {{ post.updated_on }} </h6>
                {% endif %}
            </div>
            <p class="card-text lh-base">{{ post.content|linebreaks }}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {% if post.author == user %}
                <button type="button" class="btn btn-outline-secondary"><a href="{% url 'posts:post_edition' post.slug %}">Edit</a></button>
                {% endif %}
                <button type="button" class="btn btn-outline-dark"><a href="{% url 'posts:post_list' %}">Back</a></button>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div>
        <form method="POST">
            {% csrf_token %}{{ comment_form|crispy }} 
            <button type="submit" class="btn btn-success">Add a comment</button>
        </form>
    </div>
    {% endif %}
{% endblock content %}
